
body{
    background-color: burlywood;
}

#link{
    background-color: aqua;
    margin-top: 50px;
    margin-bottom: 50px; /*distacia section de baixo*/
    margin-left: 50px;
    margin-right: 50px;
    padding: auto; /*distancia do texto para margem*/
    font-family: Times New Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#redesocial{ margin-left: 450px; }


/*comeca os codigo dos botoes*/  
  /* Comporta os botões na página */
  
/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icogit:hover {
	background-color: #3a2f2f;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icowhats:hover {
	background-color:#34af23;
}

.social-network a.icotelefone:hover {
	background-color:#33ccff;
}

/*
a.socialIcon:hover, .socialHoverClass {	color:#fa0404; }
*/

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px; 
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;   
}
/*fnal os codigo dos botoes*/

/*inicio os codigo da imagem*/
img{
  width: 50%;
  border-radius: 50%;
  margin-bottom: 10px;
}
/*inicio os codigo dos imagem*/
h1{ margin-bottom:20px; }



/*
                  inicio os codigo dos botoes da direita
*/
/* Comporta os botões na página */
.botoes {
  position:relative;
  display:inline-block;
  margin:0 auto;
  padding:20px;
}


/* Definições */

.botao {
  position:relative;
  display:block;
  background:#fff;
  padding: 0;
  float:center;
  line-height:50px;
  border: 10px; /* espessura da borda*/
  border-radius: 10px;
  cursor:pointer;
  outline:none;
}
.botoes.a{
  margin-left: 10px;
}

/* Efeitos */
.efeito {
  color: #e45;
  background: #fff;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.efeito:hover {
  -webkit-transform:scale(.8); 
  -moz-transform:scale(.8); 
  -o-transform:scale(.8);
  transform:scale(.8);
}


/*inicio os codigo dos botoes da esquerda*/